@media (max-width: 1090px)
    #filter__buttons
        margin-top: 30px !important
        width: 100% !important

    .search
        width: 300px

    .search__icon-container
        width: 20% !important